body{
    margin: 0%;
     font-family: 'Merriweather', serif;
}
h1{
    font-size: 45px;
}
.coloring{
    color: orange;
}
p{
    font-weight: 400;
    color: gray;
    text-align: justify;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}